.footer {
    background-color: #25282B;
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 80px 40px 20px;
}

.footer-list {
    display: flex;
    justify-content: space-evenly;
}

.footer-list ul {
    list-style: none;
}

.footer-list ul li {
    color: white;
    line-height: 2;
}

h2 {
    color: #14c6ad;
    margin: 10px;
}

.footer-social ul {
    color: white;
    list-style: none;
}

.footer-social ul {
    display: flex;
}

.footer-social ul li img{
    color: white;
    background-color:rgb(210, 210, 210);
    border-radius: 15%;
    margin: 20px;
    width: 40px;
}